# =========================
# Node / Playwright
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
http.log

# Playwright artifacts
playwright-report/
test-results/
*.zip

# =========================
# Environment variables
# =========================
.env
*.env
!env/example.env
requirements.txt
# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Python (do NOT use for Playwright)
# =========================
.venv/
__pycache__/
*.pyc

# =========================
# Temporary / runtime
# =========================
tmp/
.cache/
