@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&family=Bebas+Neue&family=JetBrains+Mono:wght@400;600&display=swap");

@import "./css/tokens.css";
@import "./css/base.css";
@import "./css/layout.css";
@import "./css/components.css";
@import "./css/panels.css";
@import "./css/services.css";
@import "./css/tables-forms.css";
@import "./css/animations.css";
@import "./css/responsive.css";
